*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}
body{
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    width: 100%;
    background-color: black;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    padding: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px 20px;
}
.navbar ul .links{
    align-items: center;
    padding: 6px 25px;
}
.navbar ul .links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: inline-flex;
}
.navbar ul li a:hover{
    color: yellow;
}
.navbar .nav-btn{
    display: none;
    color: white;
}
.hading{
    display: flex;
    justify-content: right;
    text-align: right;
    margin: 50px 51px;
    color: currentcolor;
    background: rgb(251, 251, 42);
    border-radius: 30px;
    padding: 10px 57px;
    font-style: italic;
    border: black 6px outset;
    width: auto;
}
.typing h1 {
    font-size: 54px;
  color: black;
  overflow: hidden; 
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing1 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    text-align: center;
}

@keyframes typing1 {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}
.cards{
    width:calc(100% + 3rem - 3rem);
}
.cards ul{
    display: flex;
    flex-wrap: wrap;
    list-style:none;
    justify-content: space-evenly;
}
.cards ul li a{
    text-decoration: none;

}
.cards .card{
    background-color: white;
    box-shadow: 0 0 10px 4px rgb(48, 44, 44);
    position: relative;
    width:calc(28% - 2rem);
    margin: 25px 25px;
    padding: 0.5rem;
    transition: ease 0.4s transform;
}
.cards .card:hover{
    transform: scale(1.08);
}
.cards .card img{
    width: 100%;
}
.cards .card .card-title{
    font-size: 30px;
    color: blue;
    margin: 5px 10px;
}

/*  media for mobile  */

@media screen and (max-width: 426px) {
    .navbar{
        justify-self: right;
    }
    .navbar ul{
        margin: 0;
        display: none;
        width: 100%;
    }
    .navbar .links{
        text-align: center;
        display: none;
    }
    .navbar .nav-btn{
        display: block;
        font-size: 30px;
        color: white;
        padding: 0px 10px;
    }
    .hading{
        margin: 50px 10px;
        padding: 10px 16px;
    }
    .hading h1{
        font-size: 30px;
    }
    .cards ul{
        margin: 0;
        padding: 0px 50px;
    }
    .cards .card{
        width: auto;
        margin: 15px 0px;
    }
}