:root {
  --hading: "Ubuntu", sans-serif;
  --midfont: 'Quicksand', sans-serif;
  --lightfont: font-family: 'Raleway', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
i {
  font-size: 25px;
}
.container{
  margin: 0 10%;
}
.full-navbar{
  box-shadow: 0px 1px 13px black;
}
nav{
  width: 100%;
  background-color: white;
}
.skicky nav{
  transition: .3s all ease-in;
  position: fixed;
  z-index: 999;
}
.skicky .main-body{
  margin-top: 130px;
}
.navbar {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-left {
  display: flex;
  margin-right: 30px;
}
.navbar .navbar-left #product-search {
  height: 100%;
}
.icon {
  padding: 10px;
  position: absolute;
  border: none;
  background-color: blue;
  color: white;
  width: 90px;
  height: 46px;
  margin: 0 -50px;
  border-end-end-radius: 40px;
  border-top-right-radius: 40px;
  font-size: 17px;
}
.icon:hover{
  background-color: black;
  transition: .3s ease-in background-color;
}
.navbar .navbar-left h1 {
  font-size: 2.5rem;
  padding-right: 3rem;
  font-weight: 800;
  font-family: var(--hading);
}
.navbar .navbar-left input[type="search"] {
  width: 20rem;
  padding: 0 25px;
  font-size: 15px;
  font-weight: 100;
  border-radius: 20px;
  border: none;
  background-color: rgb(198, 252, 252);
  color: black;
}
.ss-serchbox{
  display: none;
}
.navbar .navbar-left input[type="search"]:hover {
  background-color: white;
  border: 0.1px solid black;
}
.navbar .nav-links {
  display: flex;
  justify-content: flex-end;
}
.navbar .nav-links .nav-link {
  padding: 5px 10px;
  font-size: 20px;
  margin: 0 2px;
  font-family: var(--midfont);
}
.navbar .nav-links .nav-link .nav-link-text:hover{
  color: blue;
}
.navbar .nav-links .nav-link a {
  padding-left: 10px;
}
.nav-menu-bar{
  display: none;
}
.ss-nav{
  display: none;
}
.nav-links-menu{
  display: none;
}
/* sub-nav */
.sub-nav{
  width: 100%;
}
.sub-nav .sub-nav-links{
    display: flex;
    background-color: rgb(198, 252, 252);
    padding: 0 20px;
    font-family: var(--lightfont);
    
}
.sub-nav .sub-nav-link{
    font-size: 15px;
}
.sub-nav .sub-nav-link a:hover{
  color: blue;
}
.sub-nav .sub-nav-link p{
  padding: 12px 20px;
}
/* sub-nav */

/* main body */


/* img swiper  */

.imgswiper .swiper-text{
  z-index: 3;
  margin: 75px 80px;
    width: 491px;
  position: absolute;
  }
  
.imgswiper .swiper-text span{
  background-color: red;
  color: white;
  padding: 3px 7px;
  font-family: var(--lightfont);
  font-size: 13px;
  animation: .7s anim;
}
.imgswiper .swiper-text h1{
  font-family: var(--hading);
  font-size: 2.9rem;
  margin: 11px 0;
  animation: .7s anim;
}

.imgswiper .swiper-text p{
  font-family: var(--midfont);
  font-size: 1.2rem;
  margin: 11px 0;
  animation: .7s anim;
}
@keyframes anim {
  0%{
    transform: translateY(-30%);
  }
  100%{
    transform: translateY(0%);
  }
}
.imgswiper .swiper-text button{
  cursor: pointer;
  width: 196px;
    height: 42px;
    border-radius: 26px;
    background-color: blue;
    color: white;
    border: none;
    margin: 11px 0;
    font-family: var(--hading);
    font-size: 14px;
}
.imgswiper .swiper-text button:hover{
  background-color: black;
  transition: .3s ease-in background-color;
}
.imgswiper .swiper-slide {
  background-position: center;
  background-size: cover;
  height: 390px;
}

.imgswiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position:absolute;
}

/* img swiper  */
/* cat swiper  */
.swiper {
  width: 100%;
  height: 100%;
}

/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 40%;
  object-fit: cover;
} */
/* swiper  */
/* main body */
